body {
    background-image: url("../images/games.png");
}

a h3 {
    color: #00FF00;
    text-shadow: 2px 2px black;
    font-weight:bold;
}

.center-page {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

#tictactoe {
    background-image: url("../games/tictactoe/background/tictactoe.png");
    background-color: #82CAFA ;
    background-position: 0px -60px;
}

.option-text {
    opacity: 1;
    text-shadow: 2px 2px black;
    font-weight:bold;
}

.menu-option:hover {
    transition: .5s ease;
}

.option-text:hover {
    opacity: 1;
    transition: .5s ease;
}

#battleship {
    background-image: url("../games/battleship/background/battleship.jpg");
    background-color: #82CAFA ;
    background-size: 100% 100%;
}