body {
    background-image: url("../images/games.png");
}

a h3 {
    color: #00FF00;
    text-shadow: 2px 2px black;
    font-weight:bold;
}

.center-page {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.option-text {
    opacity: 1;
    text-shadow: 2px 2px black;
    font-weight:bold;
}

.menu-option:hover {
    transition: .5s ease;
}

.option-text:hover {
    opacity: 1;
    transition: .5s ease;
}

#option-tictactoe {
    background-image: url("../images/tictactoe.png");
    background-color: #82CAFA ;
    background-position: 0px -60px;
}

#option-battleship {
    background-image: url("../images/battleship.jpg");
    background-color: #82CAFA ;
    background-size: 100% 100%;
}

#option-2048 {
    background-image: url("../images/2048.png");
    background-color: #82CAFA ;
    background-size: 84% auto;
    background-position: 107px -73px;
}