body{
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

#board-container {
    display: inline-block;
    float: none;
    width:  450px;
}

#header {
    width: 450px;
    height: 100px;
    margin-bottom: 10px;
}

#restart-button {
    background: #8f7a66;
    color: #f9f6f2;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
    float: left;
    height: 60px;
    width: 150px; 
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

#score-group {
    width: 100px;
    height: 100px;
    float: right;
    background: #bbada0;
    color: white;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
}

#score {
    margin-top: 20px;
    font-size: 30px;
}

#board {
    margin-top: 10px;
    background-color: #bbada0;
    border-radius: 5px;
    height: 450px;
    padding-top: 10px;
}

.cell-row {
    margin-top: 10px; 
    height: 100px;
    position: relative;
}

.cell {
    margin-left: 10px;
    float: left;
    position: relative;
    width : 100px;
    height: 100px;
    border-radius: 4px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
}


/* cells */
.zero {
    background-color: rgba(238, 228, 218, 0.35);
}

.two {
    background-color: #eee4da;
    color: #776e65;
}

.four {
    background-color: #ede0c8;
    color: #776e65;
}

.eight {
    background-color: #f2b179;
    color: #f9f6f2;
}

.sixteen {
    background-color: #f59563;
    color: #f9f6f2;
}

.thirtytwo {
    background-color: #f67c5f;
    color: #f9f6f2;
}

.sixtyfour {
    background-color: #f65e3b;
    color: #f9f6f2;
}

.onehundred {
    background-color: #edcf72;
    color: #f9f6f2;
}

.twohundred {
    background-color: #edcc61;
    color: #f9f6f2;
}

.fivehundred {
    background-color: #eee4da;
    color: #776e65;
}

.onethousand {
    background-color: blue;
    color: #776e65;
}

.twothousand {
    background-color: #eee4da;
    color: #776e65;
}

.above {
    background-color: blue;
    color: #776e65;
}











