body {
    background-image: url("../background/battleshipbk.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    vertical-align:top;
    margin-right:-4px;
}

.white-background {
    background-color:  white;
    border-radius: 10px;
}

#home-title, #pc-title {
	border-bottom: 5px solid blue;
}

#home, #pc {
	width: 550px;
	border-radius: 5px;
    border: 2px solid #73AD21;
    margin: 5px;
}

.cell {
	width: 80px;
	height: 80px;
	margin: 2px;
	float: left;
	border-radius: 5px;
    border: 2px solid black;
}

.cell img {
    width: 100%;
    max-height: 100%;
}

#restart-game-button {
    display : block;
    float: none;
}

.highlight_text {
    text-shadow: 2px 2px black;
    font-weight:bold;
}
